name: Publish to npmjs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      # Checkout the repository
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Setup Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      # Install dependencies
      - name: Install dependencies
        run: npm ci

      # Run tests
      - name: Perform tests
        run: npm test
        env:
          MY_API_KEY: ${{ secrets.my_api_key }}
          MY_API_SECRET: ${{ secrets.my_api_secret }}

      # Configure git for commit and tag
      - name: Configure git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      # Bump the version to the next patch version
      - name: Bump patch version
        run: |
          git fetch --tags  # Ensure you have the latest tags
          npm version patch --alow-same-version -m "chore(release): %s"

      # Push the commit and new tag
      - name: Push version commit and tag
        run: git push --follow-t
